:root {
	--color-primary-button: #973333;
	--color-secondary-button: #d14e4e;
}

.contentMain {
	display: grid;
	grid-template-columns: 70% 30%;
	width: 100%;
	height: 200px;
	margin-top: -2%;
}
.contentButtonFilters {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.searchBar {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.selectedFilters {
	height: 50px;
	width: 125px;
	text-align: center;
	font-size: 15px;
	font-family: lemonDays, sans-serif;
	font-weight: 100;
	background-color:var(--color-primary-button);
	border-radius: 15px;
	color: white;
}

.selectedFilters option {
	font-size: 15px;
	color: black;
}
.selectedFilters:hover {
	color: black;
	background-color: var(--color-secondary-button);
	cursor: pointer;
}

.typesFilter {
	font-family: lemonDays, sans-serif;
	font-size: 20px;
	font-weight: 100;
}

/* boton de crear */

.buttonCreate {
	position: relative;
	display: inline-block;
	margin: 15px;
	padding: 15px 30px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: var(--color-primary-button);
	background: transparent;
	cursor: pointer;
	transition: ease-out 0.5s;
	border: 2px solid var(--color-secondary-button);
	border-radius: 10px;
	box-shadow: inset 0 0 0 0 var(--color-primary-button);
}

.buttonCreate:hover {
	color: white;
	box-shadow: inset 0 -100px 0 0 var(--color-primary-button);
}

.buttonCreate:active {
	transform: scale(0.9);
}

/* Estilos del SearchBar */
.contentSearch {
	width: 100%;
	height: 50px;
}
.contentSearch .input {
	padding: 18px 10px;
	letter-spacing: 1px;
	border-radius: 10px 0px 0px 10px;
	border: 2px solid var(--color-primary-button);
}
.contentSearch .buttonSearch {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: var(--color-primary-button);
	background: transparent;
	cursor: pointer;
	transition: ease-out 0.5s;
	border: 2px solid var(--color-primary-button);
	border-radius: 0px 10px 10px 0px;
	box-shadow: inset 0 0 0 0 var(--color-primary-button);
}

.contentSearch .buttonSearch:hover {
	color: white;
	box-shadow: inset 0 -100px 0 0 var(--color-primary-button);
}

.contentSearch .buttonSearch:active {
	transform: scale(0.9);
}
