.content {
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 0px 5px black inset;
    gap: 30px;
	padding: 20px;
}

.contentImage {
	width: 30%;
	height: 150px;
	overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentImage img{
	width: 100%;
	height: auto;
}

.contentText {
	width: 65%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    gap: 10px;
}
