.mainContainer {
    width: 300px;
}

.imageContainer {
    position: relative;
    height: 250px;
}
  
.imageContainer img {
    position: absolute;
    padding: 5px;
    margin-left: 100px;
    height: 90%;
    width: auto;
    object-fit: cover;
}