.card {
  width: 400px;

  display: flex;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.productImage {
  max-height: 200px;
  width: auto;
}

.productInfo {
  margin-top: 20px;
}

.comment {
  margin-top: 10px;
}

.starRating {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.starIcon {
  color: #ffc107;
  margin-right: 5px;
}

.buttons {
  margin-top: 10px;
}
