/* .container {
	width: 30%;
	display: flex;
	margin: auto;
	background-color: white;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	flex-direction: column;
	margin-top: 127px;
	padding: 89px;
}

.content {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
}

.titulo {
	text-align: center;
	margin-top: 15px;
}

.botonEnviar {
	display: flex;
	display: flex;
	padding: 10px 50px 10px 50px;
	margin-top: 10px;
	background: linear-gradient(45deg, #133432, #4c5f7e);
	border: none;
	color: white;
}

.contentStepOne {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.parrafo {
	text-align: center;
	font-family: 'Circular-Loom';
	margin-top: 15px;
}

.cancelar {
	display: flex;
	padding: 10px 50px 10px 50px;
	margin-top: 10px;
	background: linear-gradient(45deg, #d32f2f, #973333);
	border: none;
	color: white;
	cursor: pointer;
}

.email {
	font-family: cursive;
	margin-top: 15px;
}

.steptwo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentStepTwo {
	display: flex;
	flex-direction: column;
	align-items: center;
} */
