:root {
	--color-first: #780000;
	--color-second: #c1121f;
	--color-third: #fdf0d5;
	--color-fourth: #003049;
	--color-fifth: #669bbc;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url('./assets/img/BackgroundDefault.jpg');
	background-size: cover;
	background-attachment: fixed;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
