.title {
  font-size: 30px;
  font-family: "Copperplate Gothic Light";
  color: #ffffff;
  padding: 40px;
  text-align: center;
}

.MainContainer {
  margin-top: 2%;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(155, 155, 155, 0.498);
}

.title1{
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-family: "Copperplate Gothic Light";
  
}

.contentimg{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

 .logoPagina {
width: 30%;
height: 100%;
} 

 .parrafo {
  font-size: 25px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
} 

.TeamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.integrantes {
  text-align: center;
  font-size: 24px;
  color: rgb(234, 244, 255);
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.item {
  align-items: center;
  display: flex;
  border-radius: 10px;
  margin: 10px;
  max-width: auto;
  box-shadow: 2px 2px 4px #ffffff;
  background-color: rgba(83, 9, 20, 0.9); 
  width: 20%; /* Establece el ancho para que haya 4 elementos por fila */
  padding: 10px;
  /* box-sizing: border-box; */
  border: #ffffff;
  justify-content: center;
}

.image {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.linkedinLogo {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  padding: 1px;
}

.githubLogo {
  width: 40px;
  height: 40px;
  padding: 1px;
}

.logos {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 20%;
  margin: 0 auto;
  padding: 10px;
}

.tecnologias {
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 20px;
  /* width: 25%; 
  flex-basis: 25%; */
  text-align: center; /* Centra el contenido dentro de cada elemento */
  margin: 10px;
  max-width: auto;

  display: flex;
  margin: 10px;
  justify-content: center;
  list-style-type: none; 
  max-width: auto;
}


