.title {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-family: "Copperplate Gothic Light";
  padding: 20px;
}

.MainContainer {
  margin-top: 2%;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  border-radius: 10px;
}

.title1 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-family: "Copperplate Gothic Light";
}

.contentimg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoPagina {
  width: 30%;
  height: 110%;
}

.contentparrafo {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 4px #ffffff;
  background-color: rgba(83, 9, 20, 0.7);
  border-radius: 10px;
  padding: 20px;
}

.parrafo {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.835);
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
}

.TeamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.integrantes {
  text-align: center;
  font-size: 24px;
  color: rgb(234, 244, 255);
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.item {
  align-items: center;
  display: flex;
  border-radius: 10px;
  margin: 10px;
  max-width: auto;
  box-shadow: 2px 2px 4px #ffffff;
  background-color: rgba(83, 9, 20, 0.9);
  width: 20%; /* Establece el ancho para que haya 4 elementos por fila */
  padding: 10px;
  /* box-sizing: border-box; */
  border: #ffffff;
  justify-content: center;
}

.image {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.linkedinLogo {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  padding: 1px;
}

.githubLogo {
  width: 40px;
  height: 40px;
  padding: 1px;
}

.logos {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 20%;
  margin: 0 auto;
  padding: 10px;
}

.tecnologiasContainer {
  display: flex;
  justify-content: center;
}

.tecnologias {
  display: flex;
  align-items: center;

  max-width: auto;
  width: 30%; /* Establece el ancho para que haya 4 elementos por fila */
  padding: 10px;
  /* box-sizing: border-box; */

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;

}
