.content{
    width: 100%;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background: black; */
    /* background: var(--color-fourth); */
}
