@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  width: 50%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 250px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input,
.formulario textarea,
.formulario select {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input:focus,
.formulario textarea:focus,
.formulario select:focus {
  outline: none;
  border: 2px solid #0085FF;
}

.formulario .error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 0.8rem;
}

.formulario button[type="submit"] {
  display: block;
  background-color: #973333;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
}

.formulario button[type="submit"]:hover {
  background-color: #d14e4e;
}

.formulario .disabled {
  background-color: gray;
  cursor: not-allowed;
}

.formulario .exito {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 20px;
  color: #02a802;
}


/* Estilos para el cloudinary */

.contentPicture{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.contentBox{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  
}

.contentDropzone{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5px;
  background: rgba(241, 82, 82, 0.781);
  border: 2px dashed black;
  border-radius: 10px;
  cursor: pointer;
}

.contentImageFolder{
  width: 100px;
  height: 100px;
  margin-left: 30%;
  overflow: hidden;
}

.contentImageFolder img{
  width: 100%;
  height: 100%;
}

.contentImagePreviewEmpty{
  background: none;
  border: none;
}
.contentImagePreview{
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgba(0, 165, 0, 0.493);
  border: 1px dashed black;
  border-radius: 10px;
}

.imagePreview{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.imagePreview img{
  width: 100%;
  height: 100%;
}

.contentLoading{
  width: 100%;
  height: 100%;
  padding: 20px 5px 20px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textLoadingImage{
font-size: 20px;
color: black;
font-family: Arial, Helvetica, sans-serif;
}


  .button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color-first);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--color-second);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--color-first);
  }
  
  .button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--color-first);
  }
  
  .button:active {
    transform: scale(0.9);
  }
  


