.container {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.menuContainer {
  margin-right: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
}

.cardContainer > * {
  margin: 10px;
}

.boton {
  align-self: flex-start;
  width: 70px;
  margin-left: 80px;
  margin-top: 10px;
  font-size: 20px;
}

.botonBack {
  align-self: flex-start;
  width: 60px;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  padding: 10px;
}

.botonBack:hover {
  transform: scale(1.10);
}

.imageBack {
  width: 30px;
  height: 30px;
  padding-right: 4px;
}