.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Estilos Licor del mes */

.featuredCard {
	display: flex;
	align-items: center;
	background-color: #ffffff49;
	max-width: 600px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(255, 255, 255, 0.733);
	margin-bottom: 20px;
}

.featuredCard img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
	margin-right: 20px;
}

.featuredCardContent {
	flex-grow: 1;
}

.featuredCardTitle {
	font-size: 24px;
	margin-bottom: 20px;
	color: white;
}

.featuredCardDescription {
	font-size: 16px;
	color: #cfcfcf;
	margin-bottom: 10px;
	font-size: 20px;
}

.contentMoreSales {
	
	width: 80%;
	height: auto;
	overflow-x: auto;
	white-space: nowrap;
}

.title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	font-family: 'Copperplate Gothic Light';
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	position: relative;
}

/* Estilos de servivios */
.iconContainer {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 5px;
	margin-bottom: 20px;
	color: white;
	border-radius: 10px;
	max-width: 1000px;
}

.iconItem {
	background: rgba(31, 30, 30, 0.63);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 10px;
	text-align: justify;
	width: 200px;
	cursor: pointer;
}

.iconItem:hover {
	opacity: 0.9;
}

.iconItem img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	margin-bottom: 10px;
}

.iconItem h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.iconItem p {
	font-size: 14px;
	margin: 0;
	overflow-wrap: break-word;
	text-align: center;
}

.foot {
	width: 92%;
	margin-block-start: auto;
}
